
.darkBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rk-scrim);
    z-index: 200;
    pointer-events: auto;

}

.darkBackground2 {
    z-index: 400;
    pointer-events: auto;
}
