@import "../../css/theme.css";

.tipBase {
    display: flex;
    align-items: center;
    padding: 7px 11px;
    border: 1px solid var(--tip-border);
    background-color: var(--tip-bg);
    color: var(--tip-text);
    border-radius: var(--rk-radius);
}

.tipBase .tipText {
    flex-grow: 1;
}

.tipBase .tipIcon {
    width: 18px;
    height: 18px;
    margin: 0 9px 0 1px;
    flex-shrink: 0;
    text-align: center;
    line-height: 17px;
    font-size: var(--rk-font-size-small);
    font-weight: 700;
    font-style: normal;
    border-radius: 50%;
    border: 1px solid var(--tip-border);
    background-color: var(--tip-bg);
    color: var(--tip-text);
}
