@import "../../css/theme.css";

.fileUploadDropZone {
    position: relative;
    top: 2px;
    border: 2px dashed var(--rk-border-strong);
    padding: 5px;
    min-width: 200px;
    width: 100%;
    min-height: 25px;
    box-sizing: border-box;
    cursor: pointer;
    overflow-y: auto
}

.fileUploadDropZone > table {
    cursor: auto;
}

.fileUploadDropZone .dropMessage {
    padding: 1px;
    text-align: center;
}

.fileUploadDropZone .dropMessageMultiple {
    padding: 25px;
}

.fileUploadDropZone.disabled {
    background: var(--rk-disabled-bg);
    cursor: not-allowed;
}

.fileUploadDropZone tr.error {
    background-color: var(--rk-error-bg);
}

.fileUploadDropZone table.list > tbody > tr.error:nth-child(even) {
    background-color: #ffdede;
}